{% load i18n %}
<div class="input-container dal-admin-filter">
    {% if not spec.is_placeholder_title %}
        <h3 class="input-title">{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
    {% endif %}
        <div class="select2-input-container">
            {{ spec.rendered_widget }}
        </div>
</div>
<script>
    (function($) {
        $(document).ready(function () {
            $('#changelist-filter .select2-input-container select[name="{{ spec.parameter_name }}"],' +
                '.search-container .select2-input-container select[name="{{ spec.parameter_name }}"]').on('change',
                function (e, choice) {
                    var val = $(e.target).val() || '';
                    window.location.search = search_replace('{{ spec.parameter_name }}', val);
                });
        });
    })(yl.jQuery);
</script>
